* {
	font-family: 'Muli', sans-serif;
	color: #352525;
}

body {
	background-color: #D6D0DD;
}

h2 {
	background-color: #9772BF;
	border-radius: 5px;
	padding: 10px;
}

.bg-light {
	background-color: #AD9CBF;
}

.btn-submit {
	background-color: #9772BF;
	border: 1px solid #9772BF;
	color: white;
}

.btn-submit:hover {
	background-color: #6C2DAF;
	border: 1px solid #6C2DAF;
	color: white;
}

.card-img-top{
	height: 50%;
}

.class-btn {
	justify-content: space-between;
}

.class-form {
	width: 50%;
	border-radius: 25px;
	margin-top: 5%;
	padding: 50px;
	background-color: white;
}

.class-input {
	padding-top: 30px;
}

.container {
	text-align:center;
}

.jumbotron {
	background-color: white;
}

.register {
	text-align: left;
	border-radius: 25px;
	padding: 50px;
	margin-top: 10%;
	background-color: white;
}

.students {
	text-align: left;
}

#delete-student {
	display: inline
}

#loading {
	align-items: center;
}

#student {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
