<% include ../partials/header%>
<div class="container">
	<div class="jumbotron">
		  <h1 class="display-4">Welcome to the Last Word Picker!</h1>
		  <p class="lead">A website dedicated to enhancing the classroom experience</p>
		  <hr class="my-4">
		  <p>Get started by creating a class below</p>
		  <a class="btn btn-submit btn-lg" href="/classes/new" role="button">Create New Class</a>
		</div>
	<div class="row">
	<% classes.forEach(function(selectedClass){ %>
		<div class="col-md-3 mb-4" style="display:flex; flex-wrap: wrap;">
			<div class="card pb-0" style="width: 18rem;">
				<img class="card-img-top " src="<%=selectedClass.image%>" alt="Card image cap">
				<div class="card-body pt-4">
					<h5 class="card-title"><%=selectedClass.name%></h5>
					<a href="/classes/<%=selectedClass.id%>" class="btn btn-submit btn-sm">Visit Classroom</a>
				</div>
			</div>
		</div>
	<% }) %>
	</div>
</div>

<% include ../partials/footer%>
